# 입출력 경로
input_folder: "data/issue/global_maps/"
output_folder: "data/issue/converted_bin/"
pred_folder: "issue_laneline_pred_nms/"

# 맵 처리 관련 (Crop & Cleaning)
crop_mode: false
crop_size: 300.0
overlap_radius: 0.3
linearity_tolerance: 0.02

# 레인 병합 (Lane Merger) 파라미터
search_radius: 1.5
direction_threshold_deg: 30.0  # launch파일의 angle_threshold_deg 대응
weight_distance: 1.0           # launch파일의 w_dist 대응
weight_direction: 5.0          # launch파일의 w_angle 대응

# 좌표계 (Coordinate Converter)
sensor_frame: "pandar64_0"
vehicle_frame: "pcra"

# 실시간 데이터 처리
batch_size: 20
overlap_size: 10
line_map_output_folder: "data/issue/converted_bin/"
converted_folder: "data/issue/converted_bin/"
voxel_size: 0.5
yaw_voxel_num: 36

# ransac
ransac_search_radius: 2.0
ransac_yaw_threshold: 10.0
ransac_min_inliers: 3

# Lane Generation Method Switch
use_greedy_generator: true

# Greedy Polyline Generator Params
greedy_neighbor_dist: 2.5
greedy_cylinder_width: 1.5
greedy_drop_width: 1.0
greedy_min_density: 5
greedy_alpha: 0.7
greedy_beta: 0.9

# KF merge
kf_match_dist: 2
kf_match_angle: 20.0
kf_process_noise: 0.01
kf_measure_noise: 0.1
