<launch>
  <arg name="file_name" default="20000" />

  <node pkg="rf_tf_broadcaster" type="map_tf_broadcaster_node" name="map_tf_broadcaster_node" output="screen" />
  
  <node pkg="rf_tf_broadcaster" type="sensor_tf_broadcaster_node" name="sensor_tf_broadcaster_node" output="screen">
    <param name="file_name" value="$(arg file_name)" type="str" /> </node>

  <node pkg="toy_map_viewer" type="map_merge" name="map_merge" output="screen">
      <param name="file_name" value="$(arg file_name)" type="str" /> </node>
</launch>