<launch>
    <arg name="sensor_id"      default="20000"   doc="Sensor ID to process (e.g., 1)" />
    <arg name="sensor_frame"   default="pandar64_0" doc="TF frame of the sensor" />
    <arg name="vehicle_frame"  default="pcra" doc="TF frame of the vehicle" />
    <arg name="package_name"   default="toy_map_viewer" />

    <node pkg="rf_tf_broadcaster" type="sensor_tf_broadcaster_node" name="sensor_tf_broadcaster" output="screen">
        <param name="sensor_id" value="$(arg sensor_id)" />
    </node>

    <node pkg="toy_map_viewer" type="coordinate_converter_node" name="coordinate_converter_node" output="screen">
        <param name="package_name"  value="$(arg package_name)" />
        <param name="sensor_id"     value="$(arg sensor_id)" />
        <param name="sensor_frame"  value="$(arg sensor_frame)" />
        <param name="vehicle_frame" value="$(arg vehicle_frame)" />
    </node>
</launch>