<launch>
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_world_tf" args="0 0 0 0 0 0 world map" /> -->

  <node pkg="rf_tf_broadcaster" type="map_tf_broadcaster_node" name="map_tf_broadcaster" output="screen"/>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find toy_map_viewer)/rviz/config.rviz"/>

  <node name="pointcloud_viewer" pkg="toy_map_viewer" type="pointcloud_viewer_node" output="screen">
    <param name="date" value="2025-11-13-12-13-42_maxen_v6_1" />
  </node>

  <node name="map_to_global_viewer" pkg="toy_map_viewer" type="map_to_global_viewer_node" output="screen">
    <param name="date" value="2025-11-13-12-13-42_maxen_v6_1" />
  </node>
  
  <!-- <node pkg="rosbag" type="play" name="sample_pc" args="-k $(find toy_map_viewer)/bag/kusn95_after.bag"/> -->
</launch>